Source: vdr-rectools
Section: utils
Priority: optional
Maintainer: Holger Schvestka <hotzenplotz5@gmx.de>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.0

Package: vdr-rectools
Architecture: all
Depends: vdr, ffmpeg, bash (>= 4.0), coreutils, findutils, debconf, bsd-mailx | mailx, subliminal, mediainfo
Conflicts: vdr-reccleaner
Replaces: vdr-reccleaner
Description: VDR Media-Suite: Join, Import, Repair, Auto-Subtitles & Systemd.
 Modulares Bash-Tool zur Verwaltung, Reparatur und zum Import von VDR-Aufnahmen.
 Bietet OSD-Integration und nahtlose Plex/Kodi-Unterstützung.
